<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}eQTLaGOGO{% endblock %}</title>
</head>

<body style="background-color:White">
    <div id="sidebar">
        {% block sidebar %}
        <ul>
			<li><a href="/">Home</a></li>
            <li><a href="/eqtlagogo/trait">Search individual trait</a></li>
            <li><a href="/eqtlagogo/check">Search multiple traits</a></li>
            <li><a href="/eqtlagogo/output">Display output data</a></li>
        </ul>
        {% endblock %}
    </div>
    
    <hr>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
