{% extends 'wbase.html' %}

{% block content %}


<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align:center; 
    vertical-align:middle;
}
th, td {
    padding: 10 px;
}
</style>
</head>


{% if cutoff_name and experiment_name %}
	The following traits were found with LODscore cutoff value {{ cutoff_name }}
	<br>
	Dataset: {{ experiment_name }}
	<br><br>
{% endif %}



{% if combined_stats %}

	<table style="width:50%" bgcolor="WhiteSmoke">
		
		<tr>
			
			<th>Trait name</th>
			<th>Number of QTLs</th>		
			<th>Number of genes</th>
			
		</tr>	
	
	{% for info in combined_stats %}
	
		<tr>
			
			<td>{{ info.0 }}</td>
			<td>{{ info.1 }}</td>		
			<td>{{ info.2 }}</td>

		</tr>

	{% endfor %}
	
	</table>
	

{% endif %}



{% endblock %}


