{% extends 'wbase.html' %}

{% block content %}



<head>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 5px;
		}
	</style>
</head>

<!-- Message in a bottle: If the dictionary "bottle" is passed to this template,
it will contain a message, this message will be about not finding any Enrichment -->
{% if message %}
	
	{{ message }}
	
	<hr>
	<img src = {{ Graph_url }} />
	
{% else %}
<!-- In the possible event where there is Enrichment, and thus no bottle, we GO ahead (note the pun)
with the display of the found enrichment -->

	{% if display_variables %}
		
		The Fisher's exact test used an alpha value of {{ display_variables.0 }}<br>
		The Benjamini-Hochberg multiple testing correction used an alpha value of {{ display_variables.1 }}<br>
		Each gene function is present in more than {{ display_variables.2 }}% of the eQTL regions of a trait<br>
		GO terms are not predicted for more than {{ display_variables.3 }}% of all genes in the genome<br>
		<hr>

	{% endif %}

<!-- Firstly display the trait that was looked for plus the cutoff used.
Finish with an amazing description of the gene function of said trait -->
	{% if link_for_trait and cutoff_name and experiment_name %}
	
	<table style="width:100%" bgcolor="WhiteSmoke">	
		<tr>
			<th>Trait</th>
			<th>LOD score cutoff</th>		
			<th>Dataset</th>
		</tr>
		
		<tr>
			<td><a id="top" href={{ link_for_trait.0 }} target="_blank">{{ link_for_trait.1 }}</a></td>
			<td>{{ cutoff_name }}</td>		
			<td>{{ experiment_name }}</td>
		</tr>
	</table>
	<br>
			 
		<b>Trait description:</b>
		<br>
		{{ link_for_trait.2 }}
		
	{% endif %}



	
		<!--Display a graph-->
	{% if Graph_url %}
		<hr>
		<img src = {{ Graph_url }} />
	{% endif %}	


<!--Secondly display the QTL regions that were identified -->
	{% if qtl_gogenes_dict %}
	<hr>
	The following QTL's were found:<br>
	<table style="width:100%" bgcolor="WhiteSmoke">
		
		<tr>
			<th>Chromosome</th>
			<th>Physical start</th>		
			<th>Physical end</th>
			<th>Genes with predicted functions</th>
		</tr>
		
		{% for qtl, genes in qtl_gogenes_dict.items %}
		
		<tr>
			<td>{{ qtl.1 }}</td>
			<td>{{ qtl.2 }}</td>		
			<td>{{ qtl.3 }}</td>
			<td>{% for gene in genes %}
					{{ gene }} 
				{% endfor %}
			</td>
		</tr>
		
		{% endfor %}
	</table>
		<hr>

	{% endif %}





{% if go_genes_qtl_dict %}

<p>
The following GO terms are enriched for genes that were found in the QTLs.<br>
Click on a GO term to go down and see for which genes and in which QTL 
the genes were found.
</p>
		
	<table width="100%" bgcolor="WhiteSmoke">
		
		<tr>
			<th>GO term</th>
			<th>GO name</th>
			<th>q value</th>
		</tr>
		
	{% for go_link in go_genes_qtl_dict %}
	
		<tr>
			<td><a href= #{{ go_link.1 }} target="_top">{{ go_link.1 }}</a></td>
			<td>{{ go_link.2 }}</td>
			<td>{{ go_link.4 }}</td>
		</tr>
	
		
		
	{% endfor %}
	</table>
		<hr>

		<!--Display a DAG-->
	{% if DAG_url %}
		<hr>
		<img src = {{ DAG_url }} />
	{% endif %}	



	
	
	
	{% for go_link, gene_array in go_genes_qtl_dict.items %}
			<table width="100%" bgcolor="WhiteSmoke">
				<caption><a href= "#top" >go to top</a></caption>
				<tr>
					<th>GO term</th>
					<th>GO Description</th>
				</tr>
				
				<tr>
					<td id={{ go_link.1 }}><a href={{ go_link.0 }} target="_blank">{{ go_link.1 }}</a></td>
					<td>{{ go_link.2 }} : {{ go_link.3 }}</td>
				</tr>
	
			{% for gene_list in gene_array %}
			
					<tr>
						<th>Gene</th>
						<th>Gene Description</th>
					</tr>
								
				{% if gene_list %}
					
					{% for genelink, gene, description in gene_list %}
					
						<tr>
							<td><a href={{ genelink }} target="_blank">{{ gene }}</a></td>
							<td>{{ description }}</td>
						</tr>	
					
					{% endfor %}
					<br><br>
					

				
				{% else %}

					<tr>
						<td>NA</td>
						<td>NA</td>
					</tr>					
					

				{% endif %}
			
			{% endfor %}
			</table>		
		
		
	{% endfor %}
	
{% endif %}





<!--	{% if c_array_display %}

		{% for c_table in c_array_display %}
			
			{% for row in c_table %}
				
				<p>{{ row }}</p>
			
			{% endfor %}
			
		<p>#############################################</p>
		{% endfor %}
		
	{% endif %}

{% endif %}
-->


{% endblock %}
