{% extends 'wbase.html' %}

{% block content %}




{% if trait_name and cutoff_name %}


<p><b>These are the marker values for trait {{ trait_name }}:</b></p>

{% if l2 %}

	<li>{{ l2 }}</li>

{% endif %}

<p><b>These markers have a -log p value above {{ cutoff_name }}:</b></p>

{% if l3 %}

	{% for l in l3 %}
		<li>{{ l }}</li>
	{% endfor %}

{% endif %}


<p><b>The markers have been grouped by direct vicinity and chromosome number:</b></p>

{% if l4 %}

    {% for l in l4 %}
		<li>{{ l }}</li>
	{% endfor %}
    
{% endif %}

<p><b>For each group of markers the following have the highest -log p value:</b></p>

{% if l5 %}

	{% for l in l5 %}
		<li>{{ l }}</li>
	{% endfor %}
    
{% endif %}

<p><b>The following regions are identified:</b></p>

{% if l6 %}

	{% for l in l6 %}
		<li>{{ l }}</li>
	{% endfor %}
    
{% endif %}

<p><b>The following genes are identified:</b></p>
<ul>key datastructure: (trait, marker chromosome number, marker region start, marker region end)</ul>
<ul>value datastructure: [gene name, gene start location, gene end location]</ul>

<table>
    {% for key, value in l8.items %}
		<p>key: {{key}}</p>
		<p>value:</p>
		<p>{{value}}</p>
    {% endfor %}
</table>

{% endif %}



<p><b>The following genelist is produced:</b></p>

{% if gene_list %}

	<li>{{ gene_list }}</li>
   
{% endif %}


<p><b>The following GO annotations were found with corresponding fisher test p-values and q value:</b></p>
<ul>datastructure: [go, fisher p less, fisher p greater, multiple test for fisher p greater ]</ul>

{% if add_adjusted_p %}


	<li>{{ add_adjusted_p }}</li>


{% endif %}
{% endblock %}
