{% extends 'wbase.html' %}

{% block content %}

{% if trait_name and cutoff_name %}

	You searched for trait {{ trait_name }} with a threshold of {{ cutoff_name }}<br><br>
	
{% endif %}



{% if c_array_display %}

	{% for c_table in c_array_display %}
		
		{% for row in c_table %}
			
			<p>{{ row }}</p>
		
		{% endfor %}
		
	<p>#############################################</p>
	{% endfor %}
	
{% endif %}



{% if gene_dict %}
The following QTL's were found:<br>

	{% for qtl in gene_dict %}
		<p>qtl: {{qtl}}</p>
	{% endfor %}

<br><br>

{% endif %}



{% if golink_dict %}

    {% for go, link in golink_dict.items %}
		<a href={{ link }} target="_blank">{{ go }}</a>
		<br>
    {% endfor %}
<br>
{% endif %}


{% if enriched_golist %}
The following enriched GO terms were found:<br><br>

	{% for enr_go in enriched_golist %}
		<li>{{ enr_go }}</li>
	{% endfor %}
<br><br>
	
 
{% endif %}



{% if approved_golistA %}
The following enriched GO terms were approved(A):<br><br>

	{% for appr_goA in approved_golistA %}
		<li>{{ appr_goA }}</li>
	{% endfor %}
<br><br>
	
{% endif %}


{% if approved_golistB %}
The following enriched GO terms were approved:<br>
[int, GO, LPV, RPV, FDR, qtl fraction, gene fraction, genes...]
<br><br>

	{% for appr_goB in approved_golistB %}
		<li>{{ appr_goB }}</li>
		<br>
	{% endfor %}
<br><br>
	
{% else %}
<br>
There were no significant GO enrichments found

{% endif %}








{% endblock %}
