{% extends 'wbase.html' %}

{% block content %}

{% if trait_name %}

	{{ trait_name }}<br>
	
{% endif %}


{% for key, value in l8.items %}

	<p>{{key}}</p>

{% endfor %}


{% if n_genes %}

		Containing a total of {{ n_genes }} genes.<br><br>

{% endif %}

		





{% if yesno_list %}
		
		{% for yesno in yesno_list %}

			<li>{{ yesno }}</li>
			
		{% endfor %}

{% endif %}

<br><br>

{% if check %}

	{{ check }}

{% endif %}



{% if time_R %}

	Time it took for R: {{ time_R }}

{% endif %}	



{% if fisher_R %}

	{{ fisher_R }}

{% endif %}	

<br><br>


{% if time_python %}

	Time it took for python: {{ time_python }}

{% endif %}	


<br><br>


{% if fisher_python %}

	{{ fisher_python }}

{% endif %}	



{% if RP_tuple_list %}

	{% for tup in RP_tuple_list %}

		<li>{{ tup }}</li>
	
	{% endfor %}

{% endif %}	


{% if add_adjusted_p %}
	
	{{ add_adjusted_p }}

{% endif %}

<br><br>

{% if fisher_greater_p %}
	
	{{ fisher_greater_p }}


{% endif %}


{% endblock %}
