{% extends 'wbase.html' %}

{% block content %}


  	<form action="." method="get">
		
		<h2>Mandatory input</h2>
		Enter a trait: <input id="trait_id" name ="trait_name" type="text"/>
		<br><br>
		Enter a cutoff value: <input id ="cutoff" name ="cutoff_name" type="float"/>
		<br><br>
		
		<center><input type="submit" id="search_submit" value="Search" /></center>
		
		<br>
		<hr>
		
		<h2>Optional input</h2>		
		Uncheck for normal gene expression / 
		Check for environmental permutation
		<input  id="set_gxe" name ="gxe" type="checkbox"/>
		
		<hr>
		
		
	</form>



{% endblock %}


