{% extends 'wbase.html' %}

{% block content %}

Enter a trait and a cutoff.
The output will be a list of enriched GO terms.

	
  	<form action="." method="get"> 
		Enter one trait : <input id="trait_id" name ="trait_name" type="text"/>
		<br><br>
		Enter one cutoff : <input id ="cutoff" name ="cutoff_name" type="float"/>
		<br><br>
		Uncheck for normal gene expression / 
		Check for environmental permutation
		<input  id="set_gxe" name ="gxe" type="checkbox"/>
		<br><br>
		<input type="submit" id="search_submit" value="Search" />
		<br><br>
	</form>
	

{% endblock %}
