{% extends 'wbase.html' %}

{% block content %}


  	<form action="." method="get">
		
		<h2>Semi-mandatory input</h2>
		Enter a trait: <input id="trait_id" name ="trait_name" type="text"/>
		<br><br>
		Enter a cutoff value: <input id ="cutoff" name ="cutoff_name" type="float"/>
		<br><br>
		
		<center><input type="submit" id="search_submit" value="Search" /></center>
		
		<br>
		<hr>
		<h2>Semi-mandatory input</h2>
		<br>
		<select id = "experiment" name = "experiment_name">
			{% for exp in exps %}
				<option value = "{{ exp }}">{{ exp }}</option>
			{% endfor %}
		</select>
		<br><br>
		
		Uncheck for normal gene expression / 
		Check for environmental permutation
		<input  id="set_gxe" name ="gxe" type="checkbox"/>
		<hr>
			

		
	</form>



{% endblock %}


